
  main {
    padding-bottom: 80px;
  }
#introduction {
    margin-left: auto;
    margin-right: auto;
    width: 95%;

}
#introduction p {
    font-size: 22px;
    text-align: center;
    line-height: 1em;
    margin: 10px auto;
}

#thank-you {
    text-align: center;
    font-size: 27px;
    margin-top: 20px;
}
.supporting {
    padding-top: 40px;
}

.container {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
}

.supporting .web-development {
    display: inline-block;
    height: 200px;
    width: 200px;
}
.supporting img {
    height: 150px;
}

.supporting h2 {
    font-family: "League Spartan", sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 24px;
    margin-bottom: 18px;
}
.supporting p {
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 25px;
    line-height: 20px;
    margin-bottom: 32px;
}
.learn-more-btn {
    color: #000;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1.3px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
    border: 2px solid #2364AA;
    border-radius: 8px;
}
.learn-more-btn:hover {
    background-color: #2364AA;
    color: #fff;
    text-decoration: underline;
    transition: all .15s ease-in;
}
.learn-more-btn:active {
    background-color: #3DA5D9;
    color: #000;
    font-size: 22px;
    transition: all .15s ease-in-out;
}
@media only screen and (max-width: 990px) {
    #introduction {
      width: 95%;
    }
    #introduction p {
        font-size: 16px;
    }
  }