* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (max-width: 680px) {
  html {
    font-size: 14px;
  }
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body, html {
  margin: 0;
  padding: 0;
}

.container-all {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

a {
  cursor: pointer;
  color: #2364AA;;

}
a:active {
  color: #3DA5D9;
}

/*Banner and navigation */

header {
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0px;

  background: hsla(200, 67%, 55%, 1);
  background: linear-gradient(90deg, hsla(200, 67%, 55%, 1) 0%, hsla(174, 37%, 60%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(200, 67%, 55%, 1) 0%, hsla(174, 37%, 60%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(200, 67%, 55%, 1) 0%, hsla(174, 37%, 60%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#3DA5D9", endColorstr="#73BFB8", GradientType=1 );
}

.banner-nav {
  display: flex;
  flex-flow: row;  
  padding: 0.5rem 2rem;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.15), 
  0px 4px 8px rgba(0,0,0,0.15), 
  0px 8px 16px rgba(0,0,0,0.15), 
  0px 16px 32px rgba(0,0,0,0.15);
}

header .logo-small {
  display: none;
}
header .logo-small img {
  height: 76.5px;
}

.logo-small {
  padding: 0.55em 1.1em;
  align-self: center;

} 
.logo-big {
  margin-left: 2rem;
  padding: 0;
  text-align: center;  
}

.logo-big img {
  height: 120px;
}

header nav {
  display: flex;
  flex: 2;
  align-self: center;
  text-align: center;
  letter-spacing: 0.1em;
  padding-bottom: 1px;
}
header nav ul {
  flex: 1;
  margin: 0;
  align-items: center;
  padding: 0;
  text-align: end;
}

header nav li {
  display: inline;
  align-items: center;
  padding-left: 2.5rem;
}

header nav a {
  color: #2E2E2E;
  display: inline-block;
  padding: 8px;
  margin: 0px 10px;
  text-decoration: none;
  font-size: 1.23rem;
  font-weight: 600;
  border-radius: 5px;
}

header nav a:hover {
  background-color: #2364AA !important;
  color: #fff;
  text-decoration: underline !important; 
  box-shadow: inset 0px 2px 4px rgba(0,0,0,0.15), 
              inset 0px 4px 8px rgba(0,0,0,0.15), 
              inset 0px 8px 16px rgba(0,0,0,0.15);
  transition: 0.2s;
  transform: translateY(2px);

}

header nav a:active {
  color: #fff !important;
}
header nav a:active {
  background-color: #3DA5D9 !important;
}

@media only screen and (max-width: 990px) {
  .banner-nav {
    flex-flow: column;
    padding: 0;
  }
  header .logo-big {
    display: none;
    flex-shrink: -1;
  }
  header .logo-small {
    display: block;
  }
  header nav {  
    display: block;
    align-self: center;
    margin-right: 0;
    
  }

  header nav ul {
    display: block;
    text-align: center;
  }
  header nav a {
    font-size: 1.4em;
  }  
  header nav li {
    padding: 0;
    padding-right: 4rem;
  }
 header nav li:last-child {
    padding-right: 0;
  }
}
@media only screen and (max-width: 630px) {
  .banner-nav {
    padding: 0;
  }
  header .image-container {
    padding: 8px 0 2px 0;
  }
  header .logo-small img{
    height: 50px;
  }
  header nav a {
    font-size: 12px;
  }
}

/*main section */

.page-content {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  flex: 1;       
  box-shadow: 0 9px 0px 0px rgba(0,0,0,0.15), 
              0 -9px 0px 0px rgba(0,0,0,0.15), 
              12px 0 15px -4px rgba(0,0,0,0.15),
              -12px 0 15px -4px rgba(0,0,0,0.15);
  }
  
main {
  position: relative;
  margin-top: 143px;
  margin-left: 1.25em;
  margin-right: 1.25em;
}

.page-title {
  margin: 0 auto;
  padding: 1.85em 1.25em;
}

.page-title h1 {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 3.75em;
  text-align: center;
  margin: auto;
  position:relative;
}



@media only screen and (max-width: 990px) {
  .page-content {
    width: 100%;
    box-shadow: none;
    margin: 0;
  }
  main {
    margin-top: 142px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0em;
    padding: 0 1em;
  }
  main .page-title{
    padding: 1.25em 0.625em;
  } 
  .page-title h1{
    font-size: 3.25em;
  }

}
  @media only screen and (max-width: 630px) {
    main {
      margin-top: 97px;
    }
 /*   .page-content {
      box-shadow: none;
    }*/
    .page-title h1{
      font-size: 1.875em;
    }
  }
  @media only screen and (max-width: 473px) {
    main {
      margin-top: 127px;
    }
  } 

/*footer*/
footer {
  height: 40px;
  background: hsla(200, 67%, 55%, 1);
  background: linear-gradient(90deg, hsla(200, 67%, 55%, 1) 0%, hsla(174, 37%, 60%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(200, 67%, 55%, 1) 0%, hsla(174, 37%, 60%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(200, 67%, 55%, 1) 0%, hsla(174, 37%, 60%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#3DA5D9", endColorstr="#73BFB8", GradientType=1 );
  display: flex;
  margin-top: 0;
}
footer .created-by {
  flex-grow: 1;
  align-self: center;
}
.created-by p {
  text-align: center;
  margin: 0;
  color: #000;
  font-style: italic;
}