* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@media only screen and (max-width: 990px) {
  html {
    font-size: 15px;
  }
}


@media only screen and (max-width: 430px) {
  html {
    font-size: 14px;
  }
}


body {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body, html {
  margin: 0;
  padding: 0;
}

.container-all {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

a {
  cursor: pointer;
  color: #2364AA;;

}
a:active {
  color: #3DA5D9;
}

/*Banner and navigation */

header {
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0px;

  background: hsla(200, 67%, 55%, 1);
  background: linear-gradient(90deg, hsla(200, 67%, 55%, 1) 0%, hsla(174, 37%, 60%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(200, 67%, 55%, 1) 0%, hsla(174, 37%, 60%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(200, 67%, 55%, 1) 0%, hsla(174, 37%, 60%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#3DA5D9", endColorstr="#73BFB8", GradientType=1 );
}

.banner-nav {
  display: flex;
  flex-flow: row;  
  padding: 0.6rem 2rem 0.5rem 2rem;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.15), 
  0px 4px 8px rgba(0,0,0,0.15), 
  0px 8px 16px rgba(0,0,0,0.15), 
  0px 16px 32px rgba(0,0,0,0.15);
}

header .logo img {
  height: 60px;
}
 
.logo {
  margin-left: 1rem;
  padding: 0;
  text-align: center;  
}

header nav {
  display: flex;
  flex: 1;
  align-self: center;
  text-align: center;
  letter-spacing: 0.1em;
  padding-bottom: 1px;
}
header nav ul {
  flex: 1;
  margin: 0;
  align-items: center;
  padding: 0;
  text-align: end;
}

header nav li {
  display: inline;
  align-items: center;
  padding-left: 2.5rem;
}

header nav li:first-child {
  padding-left: 0;
}

header nav a {
  color: #2E2E2E;
  display: inline-block;
  padding: 8px;
  margin: 0px 10px;
  text-decoration: none;
  font-size: 1.15rem;
  font-weight: 600;
  border-radius: 5px;
}

header nav a:hover {
  background-color: #2364AA !important;
  color: #fff;
  text-decoration: underline !important; 
  box-shadow: inset 0px 2px 4px rgba(0,0,0,0.15), 
              inset 0px 4px 8px rgba(0,0,0,0.15), 
              inset 0px 8px 16px rgba(0,0,0,0.15);
  transition: 0.2s;
  transform: translateY(2px);

}

header nav a:active {
  color: #fff !important;
}

header nav a:active {
  background-color: #3DA5D9 !important;
}

@media only screen and (max-width: 800px) {
  .banner-nav {
    flex-flow: column;
    padding: 0;
  }

  header .logo {
    padding: 0.55em 1.1em;
    align-self: center;
    margin-left: 0;
  }
  header .logo img {
    height: 50px;
  }

  header nav {  
    display: block;
    align-self: center;
    margin-right: 0;
  }

  header nav ul {
    display: block;
    text-align: center;
  }

  header nav li {
    padding: 0;
    padding-right: 4rem;
  }
 header nav li:last-child {
    padding-right: 0;
  }
}

@media only screen and (max-width: 630px) {
  .banner-nav {
    padding: 0;
  }
  header .image-container {
    padding: 8px 0 2px 0;
  }
  header .logo img{
    height: 50px;
  }
  header nav li {
    padding-right: .5rem;
  }
  header nav a {
    font-size: 1em;
  }
}

@media only screen and (max-width: 430px) {
  .banner-nav {
    flex-flow: column;
    padding: 0;
  }

  header .logo {
    display: block;
    padding-bottom: 0;
  }  
  header .logo img {
    height: 40px;
  }
  header nav {  
    display: block;
    align-self: center;
    margin-right: 0;
  }
  header nav ul {
    display: block;
    text-align: center;
  }
  header nav a {
    font-size: 0.9rem;
    margin: 0 0.5rem;
  }  
  header nav li {
    padding: 0;
  }
 header nav li:last-child {
    padding-right: 0;
  }
}

@media only screen and (max-width: 375px) {
  header .logo {
    overflow: auto;
  }
 /* header nav a {
    font-size: 0.8rem;
  }
*/
}

/*main section */

.page-content {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  flex: 1;       
  box-shadow: 0 9px 0px 0px rgba(0,0,0,0.15), 
              0 -9px 0px 0px rgba(0,0,0,0.15), 
              12px 0 15px -4px rgba(0,0,0,0.15),
              -12px 0 15px -4px rgba(0,0,0,0.15);
  }
  
main {
  position: relative;
  margin-top: 82px;
  margin-left: 1.25em;
  margin-right: 1.25em;
}

.page-title {
  margin: 0 auto;
  padding:3em 1.25em 1.85em 1.25em;
}

.page-title h1 {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 3.75em;
  text-align: center;
  margin: auto;
  position:relative;
  text-transform: capitalize;
}

@media only screen and (max-width: 990px) {
  .page-content {
    width: 100%;
    margin: 0;
    box-shadow: none;
  }
  main {
    margin-top: 109px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0em;
    padding: 0 1em;
  }
  main .page-title{
    padding: 1.25em 0.625em;
  } 
  .page-title h1{
    font-size: 3.5em;
  }

}

@media only screen and (max-width: 630px) {
    main {
      margin-top: 100px;
    }
    .page-title h1{
      font-size: 3.25em;
    }

}

@media only screen and (max-width: 430px) {
    main {
      margin-top: 86px;
    }
    main .page-title {
      padding: 1.8em 0.625em;
    }
    .page-title h1{
      font-size: 3em;
    }
}

@media only screen and (max-width: 340px) {
      .page-title h1 {
        font-size: 2.75em;
      }
}
@media only screen and (max-width: 266px) {
  main {
    margin-top: 117px;
  }
}


/*footer*/
footer {
  height: auto;
  background: hsla(200, 67%, 55%, 1);
  background: linear-gradient(90deg, hsla(200, 67%, 55%, 1) 0%, hsla(174, 37%, 60%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(200, 67%, 55%, 1) 0%, hsla(174, 37%, 60%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(200, 67%, 55%, 1) 0%, hsla(174, 37%, 60%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#3DA5D9", endColorstr="#73BFB8", GradientType=1 );
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

footer .created-by {
  flex: 1;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.created-by p {
  text-align: center;
  margin: 0;
  color: #000;
  font-style: italic;
}

footer .logo-icon {
  margin-left: 0.5em;
  padding: 0.25em;  
}

footer .logo-icon img{
  height: 30px;
}